.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pagination a {
    color: white !important;
    background-color: rgb(142, 20, 20) !important;
    padding: 8px 5px  !important;
    width: 40px !important;
    font-size: larger;
    font-weight: bold;
    margin-right: 4px !important;
    border: 2px solid black !important;
    border-radius: 7px;
    align-content: center;
    text-align: center;
}

.pagination a:hover {
    color: black;
    background-color: rgb(142, 20, 20);
    position: relative;
    bottom: 5px;
    transition-duration: 0.4s !important;
    font-weight: bold;
    font-size: larger;
}

.pagination a:hover {
    background-color: red;
    border: 1px solid #545b62;
}

.pagination :first-child
,.pagination :last-child {
    width: 124px !important;
    color: yellow !important;
 }
